services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      start_period: 30s
      start_interval: 2s
      interval: 60s
      timeout: 5s
      retries: 3

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      JWT_SECRET: ${JWT_SECRET}
      PORT: ${PORT}
      MONGO_URI: ${MONGO_URI}
    depends_on:
      mongo:
        condition: service_healthy
    healthcheck:
      test:
        ["CMD", "wget", "-qO-", "--post-data={\"query\":\"{__typename}\"}", "--header=Content-Type: application/json", "http://localhost:4000/graphql"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      BACKEND_HOST: server
      PORT: 80
    ports:
      - "3000:80"
    depends_on:
      server:
        condition: service_healthy

volumes:
  mongo-data:
